{% extends "base.html" %}
{% block content %}
  <div class="container mt-3">
    <div class="row {% if hide_review_form %} d-none {% endif %}">
      <div class="col">
        <h4>Create review for: </h4>
        <h6>{{ object.name }} <span class="small_font">@ {{ object.meal_location }}</span></h6>
        <form method="POST" class="post-form" action="{% url 'meal_item_review' item_slug=object.slug %}">
          {% csrf_token %}
{#          {{ form }}#}
          {{ form.star_rating }}
          {{ form.comment }}
          <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
          <button type="reset" class="btn btn-outline-secondary">Reset</button>
          <span class="text-danger"> {{ form.errors }}</span>
        </form>
        <hr>
      </div>
    </div>
  </div>

  <script>
    $(document).on('ready', function(){
        $('.user-review-star').rating({displayOnly: true, step: 0.0});

    });

  </script>

{% endblock content %}


