{% extends "base.html" %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <h3>{{ object.name }} <h6>@ {{ object.meal_location }}</h6></h3>
        <input name="input-3" data-size="sm" value="{{ average_rating }}" class="rating-loading user-review-star">
        ({{ reviews_list.count }})
        <hr>

      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if request.user.is_authenticated %}
          <a href="{{ create_review_url }}" role="button" class="btn btn-outline-primary"> Review</a>
          <a href="{{ create_alert_url }}" role="button" class="btn btn-outline-primary"> Create Alert</a>
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h6><a href="{% url 'login' %}?next={{request.path}}">Sign in</a> to create a review. </h6>
            <h6>Or to setup alerts for {{ object.name }} @ {{ object.meal_location }}</h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>All Ratings.</h4>
        {% for review in reviews_list %}
          <ul>
          <li> <input name="input-3" value="{{ review.rating }}" data-size="sm" class="rating-loading user-review-star"></li>
          <li>{{ review.comment }}</li>
          <li>Posted on: {{ review.created_on }}</li>
          </ul>
        {% endfor %}

      </div>

    </div>
  </div>

  <script>
    $(document).on('ready', function(){
        $('.user-review-star').rating({displayOnly: true, step: 0.0});

    });

  </script>

{% endblock content %}


