{% extends "base.html" %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        <h3>{{ object.name }} <h6>@ {{ object.meal_location }}</h6></h3>
        <input name="input-3" data-size="sm" value="{{ average_rating }}" class="rating-loading user-review-star">
        ({{ reviews_list.count }})
        <hr>

      </div>
    </div>
    <div class="row {% if hide_review_form %} d-none {% endif %}">
      <div class="col">
        <h4>Leave a rating: </h4>
        <form method="POST" class="post-form" action="{% url 'meal_item' item_slug=object.slug %}">{% csrf_token %}
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
          <button type="reset" class="btn btn-outline-secondary">Reset</button>
        </form>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>All Ratings.</h4>
        {% for review in reviews_list %}
          <ul>
          <li> <input name="input-3" value="{{ review.rating }}" data-size="sm" class="rating-loading user-review-star"></li>
          <li>{{ review.comment }}</li>
          <li>Posted on: {{ review.created_on }}</li>
          </ul>
        {% endfor %}

      </div>

    </div>
  </div>

  <script>
$(document).on('ready', function(){
    $('.user-review-star').rating({displayOnly: true, step: 0.0});
});
</script>

{% endblock content %}


