{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col">
        {% if user_has_not_reviewed %}
          <h4>Create review for: </h4>
          <h6>{{ object.name }} <span class="small_font">@ {{ object.meal_location }}</span></h6>
          <form method="POST" class="post-form" action="{% url 'meal_item_review' item_slug=object.slug %}">
            {% csrf_token %}
  {#          {{ form }}#}
            <div class="form-group">
              {% render_field form.rating class="rating rating-loading" data-min="0" data-max="5" data-step="1"%}
            </div>
            <div class="form-group">
              <label for="{{ form.comment.id_for_label }}">Comments:</label>
              {% render_field form.comment class="form-control my-2" data-size="sm"%}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
            <button type="reset" class="btn btn-outline-secondary">Reset</button>
            <span class="text-danger"> {{ form.errors }}</span>
          </form>

        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h6>
              You have already reviewed this item. You can go to My Account section to
              edit your existing reviews.
            </h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        <hr>
      </div>
    </div>
  </div>

  <script>

  </script>

{% endblock content %}


