{% extends "base.html" %}
{% block content %}
  <div class="container mt-3">
    <div class="row">

      <div class="card mx-auto my-2" style="width: 35rem;">
        <div class="card-body">
          <h3>{{ object.name }} <h6>@ {{ object.meal_location }}</h6></h3>
          <input name="input-3" data-size="sm" value="{{ average_rating }}" class="rating-loading user-review-star">
          ({{ reviews_list.count }})
          <div class="my-2">
            {% if request.user.is_authenticated %}
              <a href="{{ create_review_url }}" role="button" class="btn btn-outline-primary"> Review</a>
              <a href="{{ create_alert_url }}" role="button" class="btn btn-outline-primary"> Create Alert</a>
            {% else %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h6><a href="/accounts/google/login/?next={{request.path}}">Sign in</a> to create a review. </h6>
                <h6>Or to setup alerts for {{ object.name }} @ {{ object.meal_location }}</h6>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    <h4 class="mx-auto my-2" style="width: 35rem;">All reviews.</h4>
    {% for review in reviews_list %}
      <div class="row">
        <div class="card mx-auto my-2" style="width: 35rem;">
          <div class="card-body">
            <h6>
              {{ review.user.username }}
            </h6>
            <p class="small_font"> {{ review.created_on }}</p>
            <input name="input-3" value="{{ review.rating }}" data-size="xs" class="rating-loading user-review-star">
            <p> {{ review.comment }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <script>
    $(document).on('ready', function(){
      $('.user-review-star').rating({displayOnly: true, step: 0.0});

    });

  </script>

{% endblock content %}


