{% extends "base.html" %}
{% block title %}
  Privacy Policy
{% endblock %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="card mx-auto my-1" style="width: 80%;">
        <div class="card-body d-flex flex-column">
          <h2>Privacy Policy</h2>

          <h5>Information that is gathered from visitors</h5>
          <p class="card-text">
            Where registration is required, the visitor's Google email address, name, and a generated username will be stored on the server.
          </p>
          <h5>How the Information is used</h5>
          <p>
            Email addresses will never be sold, rented or leased to 3rd parties.
          </p>
          <p>
            Email addresses are collected to send users email notifications and alerts.
          </p>
          <h5>Visitor Options</h5>
          <p>
            If you have subscribed to one of our services, you may unsubscribe anytime by
            following the instructions which are included in the emails.
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>

  </script>

{% endblock content %}
