<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Title</title>
</head>
<body>
    <h2>Locations</h2>
    <ul>
        {% for location in object_list %}
        <li>{{ location.location.eatery_name }}</li>
            <ol>
            {% for item in location.meal_event %}
                <li>{{ item.description }}</li>
                <li>{{ item.start_time }}</li>
                <li>{{ item.end_time }}</li>
            {% endfor %}
            </ol>
{#            <h2>Meal Categories</h2>#}
{#            <ol>#}
{#            {% for meal_category in location.meal_category %}#}
{#                <li>{{ meal_category.name }}</li>#}
{#            {% endfor %}#}
{#            </ol>#}


{#        <li>{{ location.operatinghour_set.all }}</li>#}
        {% endfor %}
    </ul>
</body>
</html>