<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Title</title>
</head>
<body>
    <h2>Locations</h2>
    <ul>
        {% for object in object_list %}
            <li>{{ object.location.eatery_name }}</li>
            <ul>
              <li>
                {{ object.location_data.event.description }}
                :
                {{ object.location_data.event.start_time }}
                -
                {{ object.location_data.event.end_time }}
              </li>
              <ul>
                <li> {{ object.location_data.event_data.category }} </li>
                {% for category in object.location_data.event_data.category_data %}
                  <li> {{ category }}</li>
                {% endfor %}
              </ul>



            </ul>
{#            <h2>Meal Categories</h2>#}
{#            <ol>#}
{#            {% for meal_category in location.meal_category %}#}
{#                <li>{{ meal_category.name }}</li>#}
{#            {% endfor %}#}
{#            </ol>#}


{#        <li>{{ location.operatinghour_set.all }}</li>#}
        {% endfor %}
    </ul>
</body>
</html>