{% extends 'base.html' %}
{% block base_head %}
  <meta name="google-site-verification" content="Y177J5dfCyR_1xB7eSFmdwQoPDdMFkSE9vfuDfU6ZJo" />
{% endblock %}
{% block title %}Cornell Food{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="container">
      <div class="d-flex flex-row align-items-start flex-wrap">
        <div class="card mx-auto my-1" style="width: 20rem;">
          <a href="{% url 'location_list' %}">
            <img class="card-img-top" src="/static/menu_icon.svg" alt="email_">
          </a>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Menu</h5>
            <p class="card-text">
              You can browse and look at food menu for various locations in the Cornell campus.
            </p>
            <a href="{% url 'location_list' %}" class="btn btn-outline-danger mt-auto">View Location Menus</a>
          </div>
        </div>
        <div class="card mx-auto my-1" style="width: 20rem;">
          <img class="card-img-top" src="/static/review_icon.svg" alt="email_">

          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Reviews</h5>
            <p class="card-text">
              Find the best rated foods and places in the campus.
            </p>
            <p>
              View and create reviews for meals.
            </p>
            {% if not request.user.is_authenticated %}
              <p class="text-success">
                <a href="/accounts/google/login/">Sign in</a> to create reviews and alerts.
              </p>

            {% endif %}
          </div>
        </div>
        <div class="card mx-auto my-1" style="width: 20rem;">
          <img class="card-img-top" src="/static/notification_bell.svg" alt="email_">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Alerts</h5>
            <p class="card-text">
              You can set up email alerts for your favorite foods at any Cornell location.
              Just click on your favorite food item and create an alert, and leave the
              rest to us.
            </p>
            <p>
              In future, whenever your food item is served at the given
              location, you will get an email reminder. The emails will be sent by the
              system around 6am that day.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="mx-auto">
        <p class="small_font">
          Disclaimer. The menu data is from Cornell Dining.
          This website is student built and is not affiliated with Cornell Dining.
        </p>
      </div>
      <p class="small_font">
        Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </p>
      <p class="small_font mb-0">
        Website made by SM Mashuque
      </p>
      <a class="small_font" href="{% url 'privacy' %}">Privacy policy</a>
      <h6 class="small_font">© 2019 cornellfood.me</h6>
    </div>
  </div>

{% endblock %}
